<!DOCTYPE html>
<html lang="en">

<head>
    <title>Page Creator</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
        <h1> Page Creator</h1>
        <br>
        <form role="form" action="/template">
            <div class="form-group">
                <label for="titleInput">Title</label>
                <input name="title" type="text" class="form-control" id="titleInput" placeholder="Enter Title">
            </div>
            <div class="form-group">
                <label for="descriptionInput">Description</label>
                <input name="description" type="text" class="form-control" id="descriptionInput" placeholder="Enter Description">
            </div>
            <button type="submit" class="btn btn-default">Create Page</button>
        </form>
    </div>
</body>
